.search-section {
    border-right: 1px solid black;
    position: fixed;
    width: calc(18% - 1px);
    height: 93%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.journal-search-bar {
    padding: 15vh;
}

.journal-search-bar input {
    font-size: 1.3vw;
}



.journal-section {
    position: absolute;
    width: 82%;
    right: 0;
}

.journal-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3vw;
    padding: 3vw;
}
