/* TOPBAR */
.topbar {
    position: fixed;
    width: 100%;
    height: 7%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.5vw;
    background-color: white;
    border-bottom: 1px solid black;
}

.hamburger-menu {
    height: 8vh;
    padding-right: 2vw;
    cursor: pointer;
}

.logo {
    height: 5.5vh;
}

.topbar-logout {
    justify-self: flex-end;
}



/* SIDEBAR */
.sidebar {
    position: fixed;
    height: 100%;
    width: 18%;
    left: -19%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4f5f7;
    font-weight: 600;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    transition: left 0.4s ease-in-out;
}

.sidebar.open {
    left: 0;
}

.spacer {
    flex-grow: 1
}



.x {
    width: 3.5vw;
    padding: 0px;
    align-self: flex-end;
    cursor: pointer;
}



.profile-section {
    align-self: center;
    text-align: center;
    font-size: 1.8vw;
    text-decoration: none;
    color: black;
    letter-spacing: 0.06vw;
}

.profile-section img {
    width: min(30vh, 15vw);
}



.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links img {
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    width: 3.6vw;
}
.nav-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.8vw;
    letter-spacing: 0.06vw;
    padding-bottom: 30px;
}



.sidebar-logout {
    align-self: flex-end;
}
