/* TOPBAR */
.topbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.5vw;
    width: 100vw;
}

.hamburger-menu {
    height: 8vh;
    padding-right: 2vw;
}

.logo {
    height: 5vh;
}

.topbar-logout {
    justify-self: flex-end;
}



/* SIDEBAR */
.sidebar {
    position: absolute;
    height: 100%;
    width: 20%;
    left: -21%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4f5f7;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    transition: left 0.4s ease-in-out;
}
.sidebar.open {
    left: 0;
}


.spacer {
    flex-grow: 1
}


.x {
    position: absolute;
    height: 3vw;
    padding: 0px;
    align-self: flex-end;
}


.profile-section {
    align-self: center;
    text-align: center;
    font-size: 1.8vw;
    text-decoration: none;
    color: #000000;
    letter-spacing: 1px;
}
.profile-section img {
    width: min(30vh, 15vw);
}




.nav-links {
    list-style-type: none;
    padding: 0;
}
.nav-links img {
    padding-left: 1vw;
    padding-right: 1vw;
    width: 3vw;
}
.nav-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.7vw;
    letter-spacing: 0.05vw;
    padding-bottom: 30px;
}


.sidebar-logout {
    align-self: flex-end;
}
