.sidebar {
    background-color: #f4f5f7;
    height: 100%;
    width: 20%;
    left: -25vw;
    position: absolute;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    transition: left 0.4s ease-in-out;
}

.sidebar.open {
    left: 0px;
}



.x {
    height: 3vw;
    padding: 0px;
    border-style: hidden;
    outline: none;
    right: 10px;
    top: 10px;
    position: absolute;
}



.profile-section {
    height: 40vh;
    display: grid;
    place-items: center;
}

.profile-section img {
    height: 15vw;
}

.profile-section div {
    text-align: center;
    font-size: 1.8vw;
    position: absolute;
    top: 33vh;
}



.nav-links {
    height: 55%;
    bottom: 0;
    position: absolute;
    list-style-type: none;
    padding: 0;
}

.nav-links img {
    padding-left: 1vw;
    padding-right: 1vw;
    width: 3vw;
}

.nav-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-size: 1.7vw;
    letter-spacing: 1px;
    padding-bottom: 30px;
}



.logout {
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-size: 2vw;
    letter-spacing: 1px;
}

.logout img {
    padding: 10px;
    width: 3vw;
}
