:root {
    --offwhite: #f4f5f7;
    --purple: #AE8CF8;
    --pink: #F96C7E;
    --orange: #FDAA55;
}

.main-section {
    position: absolute;
    width: 100vw;
    height: 93vh;
    bottom: 0;
}

.gradient-background {
    position: absolute;
    width: 100vw;
    height: 93vh;
    background-image: linear-gradient(to bottom, var(--purple), var(--pink), var(--orange));
}

h1 {
    color: black;
    font-weight: 800;
    font-size: 2.5vw;
    letter-spacing: 0.06vw;
    text-align: center;
}

h2 {
    color: black;
    font-weight: 800;
    font-size: 1.8vw;
    letter-spacing: 0.06vw;
    text-align: center;
}

h3 {
    color: black;
    font-weight: 600;
    font-size: 1.5vw;
    letter-spacing: 0.06vw;
    text-align: center;
}
